@import 'utils/colors'
@import 'utils/helpers'

@import 'sections/home'
@import 'sections/skills-intro'
@import 'sections/section-types'

@import 'modules/page-nav'
@import 'modules/horizon-list'


body
    font:
        size: 62.5% 
        family: 'Raleway', sans-serif
    margin: 0

