@import 'utils/colors'


@import 'sections/home'

@import 'modules/page-nav'


body
    font:
        size: 62.5% 
        family: 'Raleway', sans-serif
    margin: 0

.row
    display: flex
    justify-content: space-between
    width: 100%