@import 'utils/colors'
@import 'utils/helpers'

@import 'sections/home'
@import 'sections/skills-intro'

@import 'modules/page-nav'


body
    font:
        size: 62.5% 
        family: 'Raleway', sans-serif
    margin: 0

