.row
    display: flex
    justify-content: space-between
    width: 100%
    @media screen and (max-width: $bp-sm)
        flex-direction: column
        justify-content: center

.lighter
    color: $light-color

.lightest
    color: $lightest-color

.anim-slide-text
    display: inline-block
    overflow-x: hidden
    transition: width .6s
    vertical-align: bottom
    &.start
        width: 0
    &.end
        width: 8ch

.color-main
    color: $main-color

.text-smallest
    font-size: 2rem
    vertical-align: middle
    & + svg
        vertical-align: sub
.text-smaller
    font-size: 3rem

    