.horizon-list
    list-style: none
    background-color: $white
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    align-items: center
    padding: 0
    &__item
        padding: 5rem 1rem
        filter: sepia() saturate(100%) hue-rotate(175deg)
        transition: filter .3s
        & > img
            max-width: 10rem
        &:hover
            filter: none