.page-nav
    width: 100%
    display: flex
    justify-content: flex-end
    &__btn
        color: $nav-link-color
        text-decoration: none
        font:
            weight: $font-bold
            size: 1.4rem 
        padding: 2rem
        display: inline-block
        box-sizing: border-box
        &:first-child
            margin-right: auto