.page-nav  
    width: 100%
    position: fixed
    top: 0
    left: 0
    background-color: $main-color
    z-index: 100
    &__list
        width: inherit
        list-style: none     
        display: flex
        justify-content: flex-end
        padding: 0
        margin: 0
        flex-direction: column
        & li:not(:first-child)
            display: none
        &.is-small li:not(:first-child)
            display: block
        @media screen and (min-width: $bp-sm)
            flex-direction: row
            & li:first-child
                margin-right: auto
            li:not(:first-child)
                display: block
        
    &__btn
        color: $nav-link-color
        text-decoration: none
        font:
            weight: $font-bold
            size: 3rem 
        padding: 2rem
        display: inline-block
        box-sizing: border-box
        transition: padding .3s, font-size .3s 
        width: 100%
        @media screen and (min-width: $bp-lg)
            padding: 6rem
        &:hover
            background-color: $white
            color: $main-color
        &.is-small
            padding: 2rem
            font-size: 1.8rem
        &-menu
            font-size: 3rem
            fill: $white
            display: inline-block
            position: fixed
            top: 1rem
            right: 1rem
            width: 4rem
            height: 4rem
            cursor: pointer
            @media screen and (min-width: $bp-sm)       
                display: none
                

        