.home
    background-color: $main-color  
    &__heading
        background: $main-color
        position: relative
        font-size: $heading-section-size * .3
        font-family: monospace
        color: $white
        margin: 0 auto
        text-align: center
        align-self: center
        overflow: hidden
        width: 100%
        padding: 15rem 0 10rem
        box-sizing: border-box
        &:after
            content: none 
        @media screen and (min-width: $bp-xs)
            font-size: $heading-section-size * .6
        @media screen and (min-width: $bp-sm)
            font-size: $heading-section-size
            padding: 15rem 2rem
        @media screen and (min-width: $bp-md)
            padding: initial
            width: 12ch
        @media screen and (min-width: $bp-lg)
            &:after
                position: absolute
                content: ''
                height: 100%
                width: 100%
                background-color: $main-color
                top: 0
                left: 0
                transform-origin: right
                border-left: 2px solid $white
                animation:
                    name: show-text, animate-pipe
                    duration: 3s, .9s
                    timing-function: steps(12)
                    iteration-count: 1, infinite
                    fill-mode: forwards
    &-about
        padding: 5rem
        width: 50%
        background:
            color: $white
        font:
            weight: $font-bold
        text:
            align: center
        &__header
            font:
                size: 3.3rem
            padding: 4rem 0 1rem     
            @media screen and (min-width: $bp-xs)
                font-size: 4.3rem
                padding: 10rem 0 3rem
            @media screen and (min-width: $bp-md) and (max-width: $bp-lg)
                font-size: 5rem
        &__text
            font:
                size: 2rem
            line-height: 1.5
            @media screen and (min-width: $bp-xs)
                font-size: 2rem
            @media screen and (min-width: $bp-md)
                font-size: 5rem
        @media screen and (max-width: $bp-sm)
            width: 100%
            box-sizing: border-box
            

            
@keyframes show-text
    to
        transform: translateX( calc( 100% - 4px ) )

@keyframes animate-pipe
    to
        border-left: none