.section
    padding: 8rem 0
    &--main
        background-color: $main-color
        &__heading
            color: $white
    &--light
        background-color: $white
        &__heading
            color: $main-color
    &__heading
        font:
            size: $heading-section-size
        text-align: center
        margin: 0
        padding: 7rem