.skills-intro
    background:
        color: $white
    color: $main-color
    font-size: $heading-section-size * .3  
    text-align: center
    line-height: 1.5
    @media all and (min-width: $bp-xs)
        font-size: $heading-section-size * .4
        padding-bottom: 3rem
    @media all and (min-width: $bp-lg)
        font-size: $heading-section-size
    @media screen and (min-width: $bp-md) and (max-width: $bp-lg)
        font-size: $heading-section-size * .6